#parent {
  background-color: purple;
  color: white;
  height: 100px;
}
#container3 {
  background-color: orange;
  color: white;
  height: 100px;
}

#container2 {
  background-color: black;
  color: white;
  height: 100px;
}
